* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	font-family: Roboto, helvetica, sans-serif;
}

header, main, footer {
	max-width: 760px;
	margin: 0 auto;
}


.banner {
	padding: 20px;
	background-color: #eee;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 1fr 200px;
    gap: 20px;
}

section {
    padding: 20px;
    background-color: rgb(182, 182, 243);
    border-radius: 20px;
}

h2 {
	color: navy;
	text-align: left;
    grid-column: 1/3;
    padding-top: 20px;
}

article p {
	text-align: justify;
}

.callout {
	color: #ffffff;
	background-color: rgb(53, 53, 143);
    padding: 15px;
    grid-column: 1/3;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}
