@media screen and (min-width: 680px) {
    
.card:nth-child(even) {
    position: relative;
    right: 10%;
}

.card:nth-child(odd) {
    position: relative;
    left: 10%;
}

.card {
    display: flex;
    max-width: 500px;
    margin: 20px;
    justify-self: center;
}

#menu {
        display: none;
    }

#menu.open::before {
        display: none;
    }

.naviagation {
    display: flex;
    align-self: center;
    font-size: x-large;
    padding: 20px;
}

.naviagation a {
    display: block;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

header {
    height: 100px;
    display: flex;
}

header ul {
    display: flex;
}

.naviagation {
    background-color: lightblue;
    height: 60px;
}
}