img {
    width: 188px;
}

.basic-needs div {
    display: flex;
    max-width: 500px;
    background-color: rgb(243, 218, 218);
    margin: 20px;
}

/* I am trying to have the second and fourth cards slide over and hang out on the right hand side of the screen, but I'm not sure how to do that. */
.basic-needs div:nth-child(odd) {
    position: relative;
    left: 0;
}

.basic-needs p {
    padding: 10px 2px 0px 30px;
}