img {
    display: grid;
    width: 225px;
}

.basic-needs p {
    font-size: 20px;
    padding: 10px;
    background-color: rgb(243, 218, 218);
    max-width: 500px;
    display: grid;
    align-items: center;
    text-align: center;
    min-height: 180px;
}

.basic-needs img, .basic-needs p {
    justify-self: center;

}

.basic-needs h2 {
    justify-self: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    background-color: lightblue;
    width: 89%;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: lightblue;
    justify-self: center;
    width: 89%;
    height: 140px;
}

footer p {
    display: flex;
    position: relative;
    height: 10px;
    align-items: center;
    justify-self: center;
    font-size: x-large;
    padding: 10px;
    flex-wrap: wrap;
}

.naviagation {
    display: none;
}

#menu {
    position: relative;
    font-size: medium;
    background-color: transparent;
    border: transparent;
}

#menu::before {
    content: "☰";
    font-size: xx-large;
}

#menu.open::before {
    content: "❌";
}

.naviagation.open {
    display: flex;
    justify-content: center;
}

.naviagation li:hover {
    background-color: rgb(47, 77, 87);
}

.naviagation a:hover {
    color: white;
}

ul {
    align-items: center;
    list-style: none;
    padding-left: 20px;
    font-size: xx-large;
}

ul a {
    display: block;
    padding: 20px;
}

.naviagation.open {
    position: relative;
    justify-self: center;
    background-color: lightblue;
    width: 92%;
}

ul a {
    text-decoration: none;
    color: rgb(0, 0, 51);
}


.current {
    pointer-events: none;
}

h1 {
    position: relative;
    top: 10px;
}

.notice h2 {
    justify-self: center;
    padding: 20px;
}

.notice {
    justify-self: center;
    max-width: 550px;
    font-size: x-large;
    background-color: rgb(159, 221, 241);
}

.notice p {
    padding: 30px;
    padding-top: 2px;
    text-align: center;
}

.links {
    display: grid;
    justify-content: center;
    justify-self: center;
    background-color: rgb(159, 221, 241);
    max-width: 2000px;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.links h2 {
    justify-self: center;
}

.links a {
    padding: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
    background-color: rgba(5, 1, 1, 0.466);
    border-radius: 50px;
    margin-right: 5px;
    text-decoration: none;
    color: rgb(250, 250, 250);
}