img {
    display: grid;
    width: 225px;
}

.basic-needs p {
    font-size: 18px;
    padding: 10px;
    background-color: rgb(243, 218, 218);
    max-width: 500px;
}

.basic-needs img, .basic-needs p {
    justify-self: center;

}

.basic-needs h2 {
    justify-self: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    background-color: lightblue;
    width: 89%;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: lightblue;
    justify-self: center;
    width: 89%;
    height: 140px;
}

footer p {
    display: flex;
    position: relative;
    height: 10px;
    align-items: center;
    justify-self: center;
    font-size: x-large;
    padding: 10px;
    flex-wrap: wrap;
}

.naviagation {
    display: none;
}

#menu {
    position: relative;
    font-size: medium;
    background-color: transparent;
    border: transparent;
}

#menu::before {
    content: "☰";
    font-size: xx-large;
}

#menu.open::before {
    content: "❌";
}

.naviagation.open {
    display: flex;
    justify-content: center;
}

.naviagation li:hover {
    background-color: rgb(47, 77, 87);
}

.naviagation a:hover {
    color: white;
}

ul {
    align-items: center;
    list-style: none;
    padding-left: 20px;
    font-size: xx-large;
}

ul a {
    display: block;
    padding: 20px;
}

.naviagation.open {
    position: relative;
    justify-self: center;
    background-color: lightblue;
    width: 92%;
}

ul a {
    text-decoration: none;
    color: rgb(0, 0, 51);
}

.basic-needs p {
    display: grid;
    align-items: center;
    text-align: center;
    min-height: 180px;
}

.current {
    pointer-events: none;
}

h1 {
    position: relative;
    top: 10px;
}

.small-game {
    margin-top: 90px;
    margin-bottom: 80px;
    width: 355px;
    justify-self: center;
}

.small-game textarea {
    display: block;
    resize: none;
    opacity: 100;
    justify-self: center;
    width: 270px;
    height: 300px;
}

.small-game p {
    justify-self: center;
    position: absolute;
    font-size: 100px;
    margin-top: 200px;
}

.small-game img {
    position: relative;
    pointer-events: none;
}

.bunny-player {
    left: 50px;
    top: 360px;
    width: 60px;
    /* transform: rotate(-45deg); */
}

.fox-enemy {
   left: 240px;
   top: 290px;
   width: 70px;
}