@media screen and (min-width: 680px) {
    
    .basic-needs div:nth-child(even) {
    position: relative;
    right: 10%;
}

.basic-needs div:nth-child(odd) {
    position: relative;
    left: 10%;
}

img {
    width: 188px;
}

.basic-needs div {
    display: flex;
    max-width: 500px;
    margin: 20px;
    justify-self: center;
}


}

