@media screen and (min-width: 680px) {
    
.basic-needs div:nth-child(even) {
    position: relative;
    right: 10%;
}

.basic-needs div:nth-child(odd) {
    position: relative;
    left: 10%;
}

img {
    width: 188px;
}

.basic-needs div {
    display: flex;
    max-width: 500px;
    margin: 20px;
    justify-self: center;
}

#menu {
        display: none;
    }

#menu.open::before {
        display: none;
    }

.naviagation {
    display: flex;
    align-self: center;
    font-size: x-large;
    padding: 20px;
}

.naviagation a {
    display: block;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(37, 2, 2);
}

header ul{
    display: flex;
    position: relative;
    bottom: 120px;
    left: 35%;
}

header {
    height: 100px;
}

}