img {
    width: 188px;
}

.basic-needs div {
    display: flex;
    max-width: 500px;
    background-color: rgb(243, 218, 218);
    margin: 20px;
    justify-self: center;
}

.basic-needs div:nth-child(even) {
    position: relative;
    right: 10%;
}

.basic-needs div:nth-child(odd) {
    position: relative;
    left: 10%;
}

.basic-needs h2 {
    justify-self: center;
}

header {
    display: flex;
    justify-content: space-around;
    justify-self: center;
    background-color: lightblue;
    width: 73%;
}

footer {
    background-color: lightblue;
    justify-self: center;
    width: 73%;
    height: 80px;
}

footer p {
    display: flex;
    position: relative;
    height: 10px;
    align-items: center;
    justify-self: center;
    font-size: x-large;
    padding: 10px;
}

nav {
    align-self: center;
}