img {
    display: grid;
    width: 250px;
}

.basic-needs p {
    font-size: 18px;
    padding: 10px;
    background-color: rgb(243, 218, 218);
    max-width: 500px;
}

.basic-needs img, .basic-needs p {
    justify-self: center;

}

.basic-needs h2 {
    justify-self: center;
}

header {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    background-color: lightblue;
    width: 89%;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: lightblue;
    justify-self: center;
    width: 89%;
    height: 140px;
}

footer p {
    display: flex;
    position: relative;
    height: 10px;
    align-items: center;
    justify-self: center;
    font-size: x-large;
    padding: 10px;
    flex-wrap: wrap;
}

.naviagation {
    align-self: center;
    font-size: x-large;
    display: none;
}

#menu {
    position: relative;
    font-size: medium;
    background-color: transparent;
    border: transparent;
}

#menu::before {
    content: "☰";
    font-size: xx-large;
}

#menu.open::before {
    content: "❌";
}