body {
    font-family: "Roboto", sans-serif;
    padding: 10px;
    background-color: rgb(248, 243, 243);
}

header, main, footer {
    justify-self: center;
}

footer div {
    padding: 7px;
}

h2, h3, h4, h5 {
    font-size: larger;
    padding: 6px;
}

header {
    background-color: #2323a1;
    color: white;
    width: 78%;
}

h1 {
    justify-self: center;
}