body {
    font-family: "Roboto", sans-serif;
    padding: 30px;
}

header {
    background-color: rgb(165, 67, 67);
    width: 1090px;
    justify-self: center;
}

footer {
    background-color: rgb(165, 67, 67);
    width: 1090px;
    justify-self: center;
}

header p {
    display: flex;
    position: relative;
    height: 70px;
    align-items: center;
    justify-self: center;
    font-size: x-large;
    top: 10px;
    color: white;
}

footer p {
    display: flex;
    position: relative;
    height: 10px;
    align-items: center;
    justify-self: center;
    font-size: x-large;
    padding: 10px;
    color: white;
}

.lastModified {
    position: relative;
    top: 200px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.header-links {
    display: block;
    text-decoration: none;
    background-color: rgb(243, 207, 207);
    height: 30px;
    padding: 10px;
}

.header-links li:hover {
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
}

.header-links a:link, a:visited, a:hover a:active {
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 1000;
    font-size: x-large;
    bottom: 60%;
}

main {
    display: grid;
    width: 1050px;
    justify-self: center;
    margin: 20px;
    grid-template-columns: 2fr 1fr;
}

.card {
    border: solid;
    background-color: rgb(228, 224, 243);
    margin-right: 20px;
    border-radius: 20px;
}

.card h1 {
    position: relative;
    background-color: rgb(255, 172, 172);
    border-radius: 15px 15px 1px 1px;
    text-align: center;
    bottom: 4%;
    margin-top: 25px;
}

.card h3 {
    position: relative;
    background-color: rgb(255, 172, 172);
    border-radius: 15px 15px 1px 1px;
    text-align: center;
    bottom: 4%;
    margin-top: 25px;
    font-size: xx-large;
}

.card img {
    width: 250px;
    height: auto;
}

.card p {
    display: inline-block;
    position: relative;
    width: 50%;
    font-size: larger;
}

.info-about-state {
    bottom: 13px;
}

.blue-bunny-words {
    font-size: larger;
    margin: 3%;
    bottom: 90px;
}

.flag {
    padding: 2%;
}

.card h2 {
    justify-self: center;
    border-bottom: solid;
}

.web-dev-links {
   position: relative;
   font-size: larger;
   top: 120px;
   line-height: 30px;
}

#course-title {
    color: rgb(213, 253, 253);
}