footer, header {
    background-color: rgb(165, 67, 67);
    width: 100%;
}

footer p {
    display: flex;
    position: relative;
    height: 10px;
    align-items: center;
    justify-self: center;
    font-size: x-large;
    padding: 10px;
    color: white;
}

header p, h1 {
    color: white;
    font-size: x-large;
    padding-left: 10px;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.lastModified {
    position: relative;
    top: 200px;
}

#menu {
    position: relative;
    font-size: medium;
    background-color: transparent;
    border: transparent;
}

#menu::before {
    content: "☰";
    font-size: xx-large;
    color: white;
}

#menu.open::before {
    content: "❌";
}

.open a {
	display: block;
}

.navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(165, 67, 67);
    justify-content: space-around;
    list-style: none;
    width: 98%;
    top: 59px;
    padding-left: 0;
    display: none;
}

.navigation.open {
    display: block;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: xx-large;
    padding: 1rem;
    text-align: center;
    border: 3px solid transparent;
    transition: border 0.2s;
    background-color: rgb(165, 67, 67);
    cursor: pointer;
}

.navigation a:hover {
    background-color: rgb(207, 64, 64);
    border-color: rgb(7, 56, 59);
}

main, main h2 {
    justify-self: center;
}

.card-section {
    display: grid;
    grid-template: 1fr 1fr/ 1fr;
}

.card-section img {
    width: 450px;
    height: auto;
}

.card-section section {
    margin: 20px;
    background-color: rgb(116, 51, 51);
    color: white;
    text-align: center;
}
