@media screen and (min-width: 900px) {
    .card-section {
        display: grid;
        grid-template: 1fr 1fr/ 1fr 1fr;
}
    .card-section img {
        width: 400px;
        height: auto;
}
    #menu {
        display: none;
    }

    header {
        display: flex;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 0%;
        top: 0%;
        justify-content: space-around;
        background-color: transparent;
        padding-right: 10px;
    }

    #menu.open::before {
        display: none;
    }

    .top-bar {
        display: block;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

}

@media screen and (min-width: 1200px) {
    .card-section {
        display: grid;
        grid-template: 1fr 1fr/ 1fr 1fr 1fr;
}
    .card-section img {
        width: 325px;
        height: auto;
}

}