* {
    margin: 0;
    padding: 0;
}

form {
    background-color: rgb(248, 218, 218);
}

h1, footer {
    justify-self: center;
    background-color: rgb(167, 44, 44);
    color: white;
    margin-top: 20px;
    width: 475px;
    height: 90px;
    justify-items: center;
}

footer p {
    font-size: x-large;
    margin-bottom: 10px;
}

main {
    justify-self: center;
    margin-top: 20px;
}

footer {
    justify-self: center;
    margin-top: 20px;
}

label, fieldset {
    display: grid;
}

label, p {
    margin-top: 20px;
}

.rating-stars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.rating-stars p {
    grid-column: 1/6;
}

.check-list label{
    display: flex;
    margin: 7px;
    height: 30px;
}

.check-list span {
    position: relative;
    top: 7px;
    margin-left: 7px;
}

textarea {
    width: 93%;
    height: 80px;
    font-size: larger;
    padding-left: 20px;
    padding-top: 6px;
    padding-right: 6px;
}

input[type="submit"] {
    justify-self: center;
    margin-top: 30px;
    padding: 12px 20px;
    width: 100%;
    font-size: x-large;
}

input[type="checkbox"] {
    width: 20px;
}

select, input[type="date"], input[type="text"] {
    padding: 12px 20px;
    font-size: 16px;
}

fieldset {
    padding: 20px;
}

span {
    padding-bottom: 5px;
}

.rating-stars label, .rating-stars input {
    place-content: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 800px) {
    h1, footer, form {
        width: 750px;
    }

    textarea {
        width: 96%;
    }
}