* {
    margin: 0;
    padding: 0;
}

h1 {
    justify-self: center;
    background-color: rgb(167, 68, 68);
    color: white;
    margin-top: 20px;
}

main {
    justify-self: center;
    margin-top: 20px;
}

footer {
    justify-self: center;
    margin-top: 20px;
}

label, fieldset {
    display: grid;
}

.rating-stars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.rating-stars label {
    display: none;
}

.rating-stars p {
    grid-column: 1/6;
}

.check-list label{
    display: flex;
}

textarea {
    width: 330px;
    height: 80px;
}

input[type="submit"] {
    justify-self: center;
}