* {
    margin: 0;
    padding: 0;
}

h1 {
    justify-self: center;
    background-color: rgb(167, 68, 68);
    color: white;
    margin-top: 20px;
}

main {
    justify-self: center;
    margin-top: 20px;
}

footer {
    justify-self: center;
    margin-top: 20px;
}

label, fieldset {
    display: grid;
}

label, p {
    margin-top: 20px;
}

.rating-stars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.rating-stars label {
    display: none;
}

.rating-stars p {
    grid-column: 1/6;
}

.check-list label{
    display: flex;
    margin: 7px;
}

textarea {
    width: 330px;
    height: 80px;
}

input[type="submit"] {
    justify-self: center;
}

select {
    padding: 12px 20px;
    font-size: 16px;
}

fieldset {
    padding: 20px;
}

span {
    padding-bottom: 5px;
}