* {
    margin: 0;
    padding: 0;
}

h1 {
    justify-self: center;
    background-color: rgb(167, 68, 68);
    color: white;
    margin-top: 20px;
}

main {
    justify-self: center;
    margin-top: 20px;
}

footer {
    justify-self: center;
    margin-top: 20px;
}

label {
    display: grid;
}