* {
    margin: 0;
    padding: 0;
}

:root {
    --swedish-blue: 40, 85, 134;
    --swedish-yellow: 204, 179, 78;
}

body {
    display: grid;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(var(--swedish-blue));
    color: white;
}

footer {
    background-color: rgb(var(--swedish-blue));
    margin-top: 15px;
}

footer p {
    justify-self: center;
    padding: 10px;
    font-size: x-large;
    color: white;
}

main {
    justify-self: center;
}

h1, h2, h3 {
    justify-self: center;
    font-size: xx-large;
    padding: 20px;
}

.icon {
    display: block;
    width: 200px;
    justify-self: center;
}

.emoji {
    display: none;
}

ul {
    justify-self: center;
    margin: 10px;
    margin-left: 20px;
    list-style: none;
    font-size: larger;
}

.data {
    margin-left: 100px;
}



@media screen and (min-width: 1000px) {
    .correct-image {
        width: 98.5vw;
        height: 500px;
    }
    
    .icon {
        display: none;
    }

    .emoji {
        display: block;
        font-size: xx-large;
        justify-self: center;
    }

    section {
        background-color: rgba(var(--swedish-blue), 0.9);
        color: white;
        position: absolute;
        width: 30vw;
    }

    .fact-card {
        top: 120px;
        left: 40px;
    }

    .weather-card {
        bottom: 400px;
        right: 20px;
    }

    .overlay {
        position: relative;
    }

    .data {
        margin-left: 60px;
    }

    footer {
        margin-top: 0;
    }

    h2, h3 {
        background-color: rgb(var(--swedish-yellow));
        color: rgb(0, 0, 0);
    }
}