main {
    justify-self: center;
    margin-top: 300px;
    font-size: xx-large;
    background-color: rgb(248, 218, 218);
    padding: 20px;
    border-radius: 20px;
}

nav {
    justify-self: center;
    font-size: x-large;
    padding-top: 10px;
}