body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgb(112, 31, 31);
    padding: 1rem;
    background-color: rgb(178, 179, 255);
    color: rgb(15, 3, 3);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}